.container {
    width: clamp(600px, 80%, 1000px);
    margin-inline: auto;
    display: grid;
    
}

.postForm {
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;
    gap: 10px;
    margin-bottom: 30px;
   
}

.input{
    width: 400px;
    height: 20px;
}

.title{
   text-align: left;
   margin-bottom: 13px;
    
}
.info{
    width: 500px;
    text-align: justify;
}
.comments{
    padding-bottom: 50px;
}
